* {
    font-family: "Montserrat", sans-serif;
   
  }
  h1, h2, h3, .h1, .h2, .h3{
    font-family: "Electrolize", sans-serif;
    color: white;
   
  }

body
{background-color: rgb(21, 1, 39);
 
 
 
}






/*header*/

 
.Giallo{ color: yellow;
  text-align: center;
         
          
            
    }
.Top{ margin-top: 10%;
  text-align: center;
         
          
            
    }
  
  
  

